p, h1, li, h5 {
    color: white;
}

.clock-text {
    font-size: 80pt;
}

.date-text {
    font-size: 30pt;
}

.bottomAppBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.settingNavItem {
    width: 100%;
}

#settingTabContent {
    margin-left: 5px;
}